@inject IReservationService ReservationService
@inject IVehicleService VehicleService
@inject IClientService ClientService
@inject IToastPopup ToastPopup

<EditForm Model="@reservation" OnValidSubmit="SaveReservation">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="simple-form">
        <div class="form-group">
            <label for="client">Client</label>
            <select disabled="@(messageResultClientList.Data == null)" @bind="reservation.ClientId" class="form-select" id="client">
                @if (messageResultClientList.Data != null)
                {
                    <option value="Null" selected>Select client</option>
                    @foreach (var client in messageResultClientList.Data)
                    {
                        <option value="@client.ClientId">@(client.FName + ' ' + client.LName)</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="vehicle">Vehicle</label>
            <select disabled="@(messageResultAvailableVehicleList.Data == null)" @bind="reservation.VehicleId" class=" form-select" id="vehicle">
                @if (messageResultAvailableVehicleList.Data != null)
                {
                    <option value="Null" selected>Select vehicle</option>
                    @foreach (var vehicle in messageResultAvailableVehicleList.Data)
                    {
                        <option value="@vehicle.VehicleId">@(vehicle.Manufacturer + '-' + vehicle.Model + '-' + vehicle.Color + '-' + vehicle.Year)</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="reservationFrom">Reservation From</label>
            <input @bind="@reservation.ReservedFrom" type="datetime-local" class="form-control" id="reservationFrom" />
        </div>
        <div class="form-group">
            <label for="reservationUntil">Reservation Until</label>
            <input @bind="@reservation.ReservedUntil" type="datetime-local" class="form-control" id="reservationUntil" />
        </div>
    </div>

    <div class="buttonEdit">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button @onclick="ModalInstance.CancelAsync" class="btn btn-secondary">Cancel</button>
    </div>
</EditForm>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = default!;

    ReservationDto reservation = new ReservationDto();

    ResponseMessage responseMessage = new ResponseMessage();

    MessageResult<List<ClientDto>> messageResultClientList = new MessageResult<List<ClientDto>>();

    MessageResult<List<VehicleDto>> messageResultAvailableVehicleList = new MessageResult<List<VehicleDto>>();

    protected override async Task OnInitializedAsync()
    {
        messageResultClientList = await ClientService.GetAllClients();
        messageResultAvailableVehicleList = await VehicleService.GetAllAvailableVehicles();
    }

    protected async Task SaveReservation()
    {
        reservation.Type = messageResultAvailableVehicleList.Data.FirstOrDefault(a => a.VehicleId == reservation.VehicleId).Type;
        responseMessage = await ReservationService.CreateReservations(reservation);
        await ToastPopup.ReturnAppropriateMessageDialog(responseMessage, ModalInstance);
    }
}
