@page "/clients"
@inject IToastPopup ToastPopup

<h3>Clients</h3>

<button type="submit" class="btn btn-primary" @onclick="@(() => ShowCreateModal())" style="margin:10px 10px">Create</button>
<button type="submit" class="btn btn-secondary" @onclick="ClearSearch" style="margin:10px 10px">Clear Search</button>
<EditForm Model="@clientSearch" @oninput="ClientSearch">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <table>
        <thead class="simple-form">
            <tr class="form-group">
                <th class="col"><input placeholder="First Name" @bind-value="clientSearch.FirstName" @bind-value:event="oninput" type="text" class="form-control" id="firstName" /></th>
                <th class="col"><input placeholder="Last Name" @bind-value="clientSearch.LastName" @bind-value:event="oninput" type="text" class="form-control" id="lastName" /></th>
                <th class="col"><input placeholder="Date of birth" @bind-value="clientSearch.Dob" @bind-value:event="oninput" type="text" class="form-control" id="dob" /></th>
                <th class="col"><input placeholder="Gender" @bind-value="clientSearch.Gender" @bind-value:event="oninput" type="text" class="form-control" id="gender" /></th>
                <th class="col"><input placeholder="Country" @bind-value="clientSearch.Country" @bind-value:event="oninput" type="text" class="form-control" id="country" /></th>
            </tr>
        </thead>
    </table>
</EditForm>
@if (messageResultList == null)
{
    <p>Loading...</p>
}
else if (messageResultList.Data != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col">First name</th>
                <th class="col">Last name</th>
                <th class="col">Dob</th>
                <th class="col">Gender</th>
                <th class="col">Country</th>
                <th class="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in messageResultList.Data)
            {
                <tr>
                    <td>@data.FName</td>
                    <td>@data.LName</td>
                    <td>@data.Dob.Value.ToShortDateString()</td>
                    <td>@data.Gender</td>
                    <td>@data.Country</td>
                    <td>
                        <button type="submit" class="btn btn-primary" @onclick="@(() => ShowClientModal(data.ClientId.Value))"><i class="oi oi-eye"></i></button>
                        <button type="submit" class="btn btn-success" @onclick="@(() => ShowEditModal(data.ClientId.Value))"><i class="oi oi-pencil"></i></button>
                        <button type="submit" class="btn btn-danger" @onclick="@(() => ShowDeleteModal(data.ClientId.Value))"><i class="oi oi-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data</p>
}

@code {
    [Inject]
    private IClientService ClientService { get; set; } = default!;

    [CascadingParameter] private IModalService Modal { get; set; } = default!;

    private MessageResult<List<ClientDto>> messageResultList { get; set; } = default!;

    private ClientSearch clientSearch = new ClientSearch();

    protected override async Task OnInitializedAsync()
    {
        await ReturnAll();
    }

    private void ShowClientModal(int clientId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ClientDto.ClientId), clientId);

        Modal.Show<ClientShowModal>("Client", parameters);
    }

    private async Task ShowEditModal(int clientId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ClientDto.ClientId), clientId);

        var formModal = Modal.Show<ClientEditModal>("Edit client", parameters);

        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            await ReturnAll();
        }
    }

    private async Task ShowCreateModal()
    {
        var formModal = Modal.Show<ClientCreateModal>("Create client");

        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            await ReturnAll();
        }
    }

    private async Task ShowDeleteModal(int clientId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ClientDto.ClientId), clientId);

        var formModal = Modal.Show<ClientDeleteModal>("Delete client", parameters);

        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            await ReturnAll();
        }
    }

    private async Task ReturnAll()
    {
        messageResultList = await ClientService.GetAllClients();
        await ToastPopup.ReturnAppropriateMessageMain(messageResultList.Message, messageResultList.StatusCode);
    }

    private async Task ClientSearch()
    {
        messageResultList = await ClientService.SearchClient(clientSearch);
    }

    protected async Task ClearSearch()
    {
        clientSearch = new ClientSearch();
        await ReturnAll();
    }
}
