@page "/vehicles"
@inject IToastPopup ToastPopup

<h3>Vehicles</h3>
<button type="submit" class="btn btn-primary" @onclick="@(() => ShowCreateModal())" style="margin:10px 10px">Create</button>
<button type="submit" class="btn btn-secondary" @onclick="ClearSearch" style="margin:10px 10px">Clear Search</button>
<EditForm Model="@vehicleSearch" @oninput="VehicleSearch">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <table>
        <thead class="simple-form">
            <tr class="form-group">
                <th class="col"><input placeholder="Manufacturer" @bind-value="vehicleSearch.Manufacturer" @bind-value:event="oninput" type="text" class="form-control" id="manufacturer" /></th>
                <th class="col"><input placeholder="Model" @bind-value="vehicleSearch.Model" @bind-value:event="oninput" type="text" class="form-control" id="model" /></th>
                <th class="col"><input placeholder="Type" @bind-value="vehicleSearch.Type" @bind-value:event="oninput" type="text" class="form-control" id="type" /></th>
                <th class="col"><input placeholder="Color" @bind-value="vehicleSearch.Color" @bind-value:event="oninput" type="text" class="form-control" id="color" /></th>
                <th class="col"><input placeholder="Year" @bind-value="vehicleSearch.Year" @bind-value:event="oninput" type="text" class="form-control" id="year" /></th>
            </tr>
        </thead>
    </table>   
</EditForm>

@if (messageResultList == null)
{
    <p>Loading...</p>
}
else if (messageResultList.Data != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col">Manufacturer</th>
                <th class="col">Model</th>
                <th class="col">Type</th>
                <th class="col">Color</th>
                <th class="col">Year</th>
                <th class="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in messageResultList.Data)
            {
                <tr>
                    <td>@data.Manufacturer</td>
                    <td>@data.Model</td>
                    <td>@data.Type</td>
                    <td>@data.Color</td>
                    <td>@data.Year</td>
                    <td>
                        <button type="submit" class="btn btn-primary" @onclick="@(() => ShowVehicleModal(data.VehicleId.Value))"><i class="oi oi-eye"></i></button>
                        <button type="submit" class="btn btn-success" @onclick="@(() => ShowEditModal(data.VehicleId.Value))"><i class="oi oi-pencil"></i></button>
                        <button type="submit" class="btn btn-danger" @onclick="@(() => ShowDeleteModal(data.VehicleId.Value))"><i class="oi oi-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data</p>
}

@code {
    [Inject]
    private IVehicleService VehicleService { get; set; } = default!;

    [CascadingParameter] private IModalService Modal { get; set; } = default!;

    private MessageResult<List<VehicleDto>> messageResultList { get; set; } = default!;

    private VehicleSearch vehicleSearch = new VehicleSearch();

    protected override async Task OnInitializedAsync()
    {
        await ReturnAll();
    }

    private async Task ShowEditModal(int vehicleId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(VehicleDto.VehicleId), vehicleId);

        var formModal = Modal.Show<VehicleEditModal>("Edit vehicle", parameters);

        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            await ReturnAll();
        }
    }

    private async Task ShowDeleteModal(int vehicleId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(VehicleDto.VehicleId), vehicleId);

        var formModal = Modal.Show<VehicleDeleteModal>("Delete vehicle", parameters);

        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            await ReturnAll();
        }
    }

    private async Task ShowCreateModal()
    {
        var formModal = Modal.Show<VehicleCreateModal>("Create vehicle");

        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            await ReturnAll();
        }
    }

    private void ShowVehicleModal(int vehicleId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(VehicleDto.VehicleId), vehicleId);

        Modal.Show<VehicleShowModal>("Vehicle", parameters);
    }

    private async Task ReturnAll()
    {
        messageResultList = await VehicleService.GetAllVehicles();
        await ToastPopup.ReturnAppropriateMessageMain(messageResultList.Message, messageResultList.StatusCode);
    }

    private async Task VehicleSearch()
    {
        messageResultList = await VehicleService.SearchVehicles(vehicleSearch);
    }

    protected async Task ClearSearch()
    {
        vehicleSearch = new VehicleSearch();
        await ReturnAll();
    }
}
